.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--nav-color-background);
}

.navBar a {
  position: relative;
  transition: 0.5s;
  color: white;

  &:hover {
    transform: scale(1.1);
    color: #fcc943;
  }
}

.cartIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cartCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #c00c0d;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
