:root {
  --color-background: #f7f7f7;
  --color-layout: #fcc943;
  --nav-color-background: #222222;
}

body {
  margin: 0;
  font-family: -apple-system, 'system-ui', 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background: var(--color-background);
  // Avoid fixed footer obscuring content
  padding-bottom: 50px;
}

a {
  color: black;
}

nav {
  width: 100vw;
  height: 4rem;
  background: var(--nav-color-background);
  display: flex;
  justify-content: space-around;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  > div a {
    margin: 0.25rem;
    color: white;
  }
}

button {
  font-size: 0.875rem;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  background: var(--color-layout);
  border: none;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
